

.header {
  background-color: #333;
  width: 96%;
  margin: 6px auto;
  height: 90px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_logo {
  font-family: 'Hubballi', sans-serif;
  font-size: 48px;
  color: white;
  margin: 0;
  padding: 0;
}